* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'roboto';
    font-weight: bold;
    font-style: italic;
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    font-family: 'roboto';
    color: white;
}

img {
    max-width: 100%;
}

:root {
    --primary-color: #109DEA;
    --secondary-color: #04234E;
    --tertiary-color: #EE88E4;
    --text-color: #FFFFFF;
}

/* ----------- CODE BELOW -----------  */

header {
    background-color: #109DEA;
    display: flex;
    justify-content: space-between;
}

header .site-title {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

header nav {
    display: flex;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}

header nav a:hover {
    background-color: #EE88E4;
}

